artifacts_cache
*.zip
*.amp
*.rpm
*.deb
*.jar
*.tgz
*.gz
*.tgz

# Files fetched by scripts/fetch_compose.sh
test/compose.yaml
test/community-compose.yaml
test/7.4.N-compose.yaml
# Files fetched by scripts/fetch_helm.sh
test/helm/enterprise-integration-test-values.yaml
test/helm/community-integration-test-values.yaml
test/helm/community_values.yaml
