name: kics

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

permissions:
  security-events: write
  contents: write

jobs:
  kics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Run KICS Scan
        uses: checkmarx/kics-github-action@94469746ec2c43de89a42fb9d2a80070f5d25b16 # v2.1.3
        with:
          path: './'
          ignore_on_exit: results
          output_path: report-dir/
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          enable_jobs_summary: true
          platform_type: dockerfile
          disable_secrets: true
          output_formats: sarif
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@babb554ede22fd5605947329c4d04d8e7a0b8155 # v3.27.7
        with:
          sarif_file: report-dir/results.sarif
