name: Test make

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - 'Makefile'
      - '.github/workflows/test-make.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

env:
  MAKE_TARGET: ${{ github.event.pull_request.head.repo.fork && 'community' || 'all_ci' }}
  BAKE_TARGET: ${{ github.event.pull_request.head.repo.fork && 'community' || 'enterprise' }}

jobs:
  make-test:
    runs-on: ubuntu-latest
    steps:
      - uses: Alfresco/alfresco-build-tools/.github/actions/free-hosted-runner-disk-space@v8.16.0

      - name: Setup nexus authentication
        if: '! github.event.pull_request.head.repo.fork'
        env:
          NETRC_PATH: ~/.netrc
        run: |
          touch ${{ env.NETRC_PATH }}
          chmod 600 ${{ env.NETRC_PATH }}
          echo "machine nexus.alfresco.com" >> ${{ env.NETRC_PATH }}
          echo "login ${{ secrets.NEXUS_USERNAME }}" >> ${{ env.NETRC_PATH }}
          echo "password ${{ secrets.NEXUS_PASSWORD }}" >> ${{ env.NETRC_PATH }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - run: make ${{ env.MAKE_TARGET }}

      - name: Check Images are loaded
        run: |
          echo -n "Checking images are loaded in local Docker Engine..."
          docker images --format "{{.Repository}}:{{.Tag}}" | grep alfresco || { echo "No Alfresco image found"; exit 1; }

      - name: Install Grype
        uses: anchore/scan-action/download-grype@7c05671ae9be166aeb155bad2d7df9121823df32 # v6.1.0
        id: grype-install

      - name: Add Grype to PATH
        run: echo "$(dirname ${{ steps.grype-install.outputs.cmd }})" >> $GITHUB_PATH

      - name: Grype scan
        run: |
          make grype GRYPE_TARGET="${{ env.BAKE_TARGET }}" GRYPE_OPTS="--only-fixed --ignore-states wont-fix"
